# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Editor and OS specific
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Docker - if you had local docker-compose overrides, etc.
docker-compose.override.yml